{% extends './layout.html' %}

{% block title%}paginas2{% endblock %}

{% block body %}
<div class="container">
      <div class="col-sm-12 col-md-8 col-lg-6 col" style ="background-color: peru ;"> 
        <h3>Creado por: {{data.nombre}}</h3>
      </div> 
    <div class="col-sm-12 col-md-8 col-lg-6 col" style ="background-color: yellow ;"> 
        <p>El sitio Web fue creado para poder demostrar nuestros conocimientos en el uso de Flask,Bootstrap,Yinja y conceptos básico de html y css.
        
        </p>    
    </div>
  
</div>
{% endblock %}